blinker==1.9.0
certifi==2026.2.25
charset-normalizer==3.4.7
click==8.3.1
colorama==0.4.6
dotenv==0.9.9
flask==3.1.3
flask-mysqldb==2.0.0
flask-unsign==1.2.1
idna==3.11
itsdangerous==2.2.0
jinja2==3.1.6
markupsafe==3.0.3
mysqlclient==2.2.8
pillow==12.2.0
python-dotenv==1.2.2
qrcode==8.2
requests==2.33.1
urllib3==2.6.3
waitress==3.0.2
werkzeug==3.1.7
Flask-SQLAlchemy
pymysql
psycopg2-binary
